{% extends 'music/base.html' %}
{% block navbar%}
{% endblock %}

{% block body%}

{% block content %}
<form style="margin-top:200px" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>Login</label>
                <input class="form-control" type="text" name="username">
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>Senha</label>
                <input class="form-control" type="password" name="password">
            </div>
        </div>
    </div>
      </div>
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <a href="#">Esqueceu a senha?</a>
                <input class="btn btn-primary" type="submit" name="Entrar">
            </div>
        </div>
    </div>
</form>
    {% endblock %}

    {% endblock %}
